/* Body bckground */
body{
  background-color: #f1e8e6;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Nav bar */
#nav{
  float: none;
  position: absolute;
  left: 50%;
}

/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  #nav {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

/* Glowing hover box around each menu item */
.box{
  text-decoration: none;
  color: #361d32;
  background: transparent;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  margin: 10px 10px;
  display: inline-block;
}

.active, .box:active{
  color: #f55951;
}

.active, .box:hover{
  border: 0;
  color: #f55951;
  box-shadow: 0 0 3px #f55951, 0 0 7px #f55951, 0 0 20px #f5ab51;
}



/* Home page*/
.container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 75vh;
  font-family: 'Poppins', sans-serif;
}

/* Display card tile - tile */
.card {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
}

/* Display card tile - heading*/
.card__h {
  font-size: 30px;
  text-align: left;
  font-weight: 600;
  color: #543c52;
  /* text-transform: uppercase; */

}

/* Display card tile - paragraph text*/
.card__p {
  font-size: 25px;
  text-align: left;
  color: #543c52;
}

/* Display card tile - image */
.card__image {
  background-size: cover;
  border-radius: 50% 50% 0 50%;
  width: auto;
  height: auto;
  box-shadow: 0 0 30px #f55951, 0 0 7px #f55951, 0 0 20px #f5ab51;
}

.containerAbout {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 30px;
  justify-content: center;
  align-items: center;
  height: auto;
  font-family: 'Poppins', sans-serif;

}

/* Display card tile - tile */
.cardAbout {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-left: 10px solid #edd2cb;
  border-radius: 2% 0 0 2%;
}

/* Display card tile - paragraph text*/
.cardAbout__p {
  font-size: 20px;
  text-align: center;
  color: #543c52;
}

/* Display card tile - image */
.cardAbout__image {
  background-size: cover;
  width: 50%;
  height: auto;
  /* box-shadow: 0 0 30px #f55951, 0 0 7px #f55951, 0 0 20px #f5ab51; */
}

.cardAbout__image:hover {
  background-size: cover;
  /* border-radius: 50% 50% 0 50%; */
  width: 50%;
  height: auto;

}


/* flexbox - projects page*/

p{
  font-size: 15px;
  text-align: center;
  color: #543c52;
}
h1{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #f55951;

  text-transform: uppercase;
}

.post{
  position: relative;
  background:#fff;
  border-radius: 30px;
  padding:10%;
  margin-bottom:10%;

}

.post__h{
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: #361d32;
  text-transform: uppercase;
}
.post img{
  width:100%;
  display: block;
  color: #f55951;
  border-radius: 50px;
}

.post img:hover{
  box-shadow: 0 0 30px #f55951, 0 0 7px #f55951, 0 0 20px #f5ab51;
}

@media screen and (min-width:768px){
  .c-multicol{
    gap:2rem;
    -webkit-column-width:30vw;
    -moz-column-width:30vw;
    column-width:30vw;
  }
  .post{
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
  }
}




/* Footer */
.inner_footer{
  display: block;
  width: 100%;
  height: auto;
  float: center;
}


/* Social media icons - cool hovering */
.inner_footer .social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;

}

.inner_footer .social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.5em;
  text-align: center;

}

.inner_footer .social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all 265ms ease-out;
}

.inner_footer .social-icons a {
  display: inline-block;
}

/* gradient style before hovering in orange and yellow*/
.inner_footer .social-icons a:before {
  @include transformScale();
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-block;
  background: linear-gradient(50deg, #361d32, #f55951);
  transition: all 265ms ease-out;
}

.inner_footer .social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

/* gradient style after hovering in orange and yellow*/
.inner_footer .social-icons a:hover i {
  @include transformScale(2.2);
  color: #7D488E;
  background: -webkit-linear-gradient(45deg, #361d32, #f55951);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;

}


/* Copyright text in orange at bottom */
.inner_footer .cpy{
  font-size: 12px;
  color: #361d32;
  display: block;
  float: center;
}
